

header__arg {
    display: flex;
    align-items: center;
  }

.header__navItems--arg {
    display: flex;
    flex-direction: column;
  }

  .header__nav--arg {
    align-self: flex-end;
 }

.containerTop__arg {
background-color: :tomato;
  border: 3px green;
  padding: 25px;
  margin: 10px;
  display: flex;
  flex-direction: column;

}

.flagArg {
    max-width: 300px;
    /* background-color: black; */
}

.flagImg{
    max-width: 100%;
}

