@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/* * {
  border: 1px red solid;
} */

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  /* border: 3px solid black; */
  /* border: 3px red solid; */
  /* padding: 25px; */
  /* align-self: center; */
  background-image: url("../images/argSoccerStadium50Opacity.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
}

/* .contentContainerOp {
} */

.containerTopArg {
  /* border: 3px black solid; */
  padding: 25px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  color: white;
  font-size: 20px;
  font-style: oblique;
}

.containerTop__Text {
  /* text-shadow: black; */
  text-shadow: gray 0 -2px;
}
.containerBottomArg {
  display: flex;
  /* border: 3px black solid; */
  padding: 25px;
  align-self: center;
  margin: 10px;
}

/* each individual card */
.containerBottomArg__card {
  padding: 10px;
  margin: 5px;
  background-color: #74acdf;
  color: white;
  /* border: black 1px solid; */
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.flagArg {
  max-width: 300px;
  /* background-color: black; */
  align-self: center;
}

.flagImg {
  max-width: 100%;
}

/* remove */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header__navItems {
  display: flex;
}
.header__nav {
  justify-content: space-between;
  padding: 15px;
}

footer {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  padding: 10px;
}

.active {
  background: lightblue;
}

.header__nav:hover {
  background: lightgray;
}
