@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import "./kw.css";

/* * {
  border: 1px red solid;
} */

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(124, 226, 146);
}

.header__nav {
  /* justify-content: space-between; */

  /* justify-content: space-around; */
  padding: 15px;
}

.header__nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.header__navItems {
  display: flex;

  /* background-color: pink; */
}

.contentContainer {
  display: flex;
  flex-direction: column;
  border: 3px solid;
  /* border: 3px red solid; */
  padding: 25px;
  /* background: pink; */
}

.containerTop {
  border: 3px black solid;
  padding: 25px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.containerMiddle {
  /* border: 3px black solid; */
  padding: 25px;
  margin: 10px;
}

.containerBottom {
  display: flex;

  /* border: 3px black solid; */
  padding: 25px;
  margin: 10px;
}

/* each individual fish */
.containerBottom__card {
  padding: 10px;
  margin: 5px;
  background-color: lightblue;
  opacity: .80;
  /* border: black 1px solid; */
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;

  /* resize: both;
  overflow: auto; */

  /* background: repeating-linear-gradient(
    90deg,
    lightblue,
    lightblue 10px,
    white 10px,
    white 20px
  ); */
}

footer {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  padding: 10px;
}

.header__nav:hover  {
  background: green;
}

.active {
  background: teal;
}

.country_nav {
  /* background: red; */
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
}

.countryList {
  padding: 10px;
  margin: 10px auto;
  /* background-color: lightblue; */
  background-color: rgb(124, 226, 146, .25);
  /* border: black 1px solid; */
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;

  list-style-type: none;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.countryList__card {
  /* background: blue; */
  /* min-width: 20%;
  max-width: 50%;
  height: 10em;
  max-height: 20em; */
  text-align: center;
  padding: 1em;
  border: .25em solid gray;
  border-radius: 15px;

  height: 20em;
  width: 20em;
  margin: 2em;
}

.countryList__card:hover {
  position: relative;
  top: -10px;
  left: -10px;
  opacity: 80%;
  border: .3em solid black;
}

.countryList__card a {
  text-decoration: none;
  color: inherit;
  background: rgb(124, 226, 146, .45);
  font-size: 2em;
  font-weight: bold;
}

.countryList__card:first-child {
  background-image: url("https://source.unsplash.com/random/?argentina");
  background-size: cover;
}

.countryList__card:nth-child(2) {
  background-image: url("https://source.unsplash.com/featured/?liechtenstein");
  background-size: cover;
}

.countryList__card:last-child {
  background-image: url("https://source.unsplash.com/random/?kuwait");
  background-size: cover;
}